.advantages {
    padding: 71px 0 64px 0;
    background: #f6f6f6;
    &__title {
        text-align: center;
        font-size: 30px;
    }
    &__wrapper {
        display: flex;
        column-gap: 70px;
        margin-top: 60px;
        text-align: center;
        .item {
            width: 277px;
            &-subtitle {
                font-size: 18px;
                margin-top: 35px;
            }
            &-text {
                margin-top: 20px;
                font-size: 14px;
                span {
                    color: #ff0000;
                }
            }
        }
    }
}
